.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: crimson;
}

a {
  text-decoration: none;
  color: lightskyblue;
  font-weight: 600;
}

a:hover {
  color: palevioletred;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.products_grid img {
  object-fit: contain;
  width: 100px;
  height: 150px;
  margin-top: 8px;
}

.product_details {
  width: 40%;
  margin: 0 auto;
}

.product_details h3 {
  margin-top: 8vh;
}

.product_details img {
  width: 100%;
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.product_item {
  border: 3px solid lightskyblue;
  border-radius: 10px;
  margin: 10px 10px;
}